In [1]:
import pandas as pd

In [6]:
colors = pd.Series(["Red","Orange","Blue"])

In [7]:
colors

0       Red
1    Orange
2      Blue
dtype: object

In [8]:
cars = pd.Series(["Volvo","BMW","Toyota"])

In [9]:
cars

0     Volvo
1       BMW
2    Toyota
dtype: object

In [16]:
data = pd.DataFrame({"car make":cars,"colors of car":colors})

In [17]:
data

  car make colors of car
0    Volvo           Red
1      BMW        Orange
2   Toyota          Blue

In [18]:
len(data)

3

In [19]:
data.loc[:3]

  car make colors of car
0    Volvo           Red
1      BMW        Orange
2   Toyota          Blue